/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import '@/assets/layout/layout.scss';

/* PrimeVue */
// @import 'primevue/resources/primevue.min.css'; // version deplicated. You must open the command line if you are using < 3.29.00
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

/* Demos */
@import '@/assets/demo/demo.scss';

@import '@/assets/fonts/vazir.css';

body {
  direction: ltr;
}

body,
.p-datatable-table,
.p-button,
.p-inputtext,
.p-dialog,
.p-toast,
.p-paginator-pages button,
.p-dropdown-panel,
.layout-topbar-button,
.p-hour-picker,
.p-minute-picker,
.p-tooltip,
.vpd-main input,
.vpd-actions button {
  font-family: 'Vazir', sans-serif;
}

.p-paginator-last,
.p-paginator-next,
.p-paginator-prev,
.p-paginator-first,
.p-datepicker-prev,
.p-datepicker-next {
  transform: scaleX(-1);
}